.navbar {
    background-color: #222;
    color: white;
    height: 60px;
    display: flex;
    padding: 0 24px;
    align-items: center;
    gap: 24px;
    border-bottom: 3px solid #f9f9;
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 24px;
}

.links-container {
    width: 100%;
    display: flex;
    gap: 16px;
}

.external-links-container {
    margin-left: auto;
    display: flex;
    gap: 16px;
}
